<div class="fadein animation-duration-200">
    <p-card>
        <ng-template pTemplate="content">
            <div class="field">
                <label for="lastname">Empresa</label>
                <input #company="ngModel" id="lastname" type="text" required pInputText [(ngModel)]="balanceRepository.paymentInformation.company" [ngClass]="{'ng-dirty': (company.invalid && submitted) || (company.dirty && company.invalid) || (company.touched)}">
                <small class="p-error fadein" *ngIf="(company.invalid && submitted )|| (company.dirty && company.invalid)">La empresa es requerida.</small>
            </div>
            <div class="field">
                <label for="lastname">Comprado A</label>
                <input #bougth="ngModel" id="lastname" type="text" required pInputText [(ngModel)]="balanceRepository.paymentInformation.boughtFrom" [ngClass]="{'ng-dirty': (bougth.invalid && submitted) || (bougth.dirty && bougth.invalid) || (bougth.touched)}">
                <small class="p-error fadein" *ngIf="(bougth.invalid && submitted )|| (bougth.dirty && bougth.invalid)">La empresa es requerida.</small>
            </div>
                <div class="field">
                    <label for="lastname">Banco</label>
                    <input #lastname="ngModel" id="lastname" type="text" required pInputText [(ngModel)]="balanceRepository.paymentInformation.bankFrom" [ngClass]="{'ng-dirty': (lastname.invalid && submitted) || (lastname.dirty && lastname.invalid)}">
                    <small class="p-error fadein" *ngIf="(lastname.invalid && submitted )|| (lastname.dirty && lastname.invalid)">El banco es requerido.</small>
                </div>
                <div class="field">
                    <label for="age">Numero de cuenta</label>
                    <p-inputMask mask="9999-9999-9999-9999" placeholder="9999-9999-9999-9999" #accountNumberFrom="ngModel" id="age"  [required]="true"  [(ngModel)]="balanceRepository.paymentInformation.accountNumberFrom" [ngClass]="{'ng-dirty': (accountNumberFrom.invalid && submitted) || (accountNumberFrom.dirty && accountNumberFrom.invalid)}"/>
                    <small class="p-error fadein" *ngIf="(accountNumberFrom.invalid && submitted) || (accountNumberFrom.dirty && accountNumberFrom.invalid)">el numero de cuenta es requerido.</small>
                </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <p-button label="Siguiente" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>
